<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/css/extended_custom.css" | relURL }}?v=5">

<script data-goatcounter="https://sherlockkristoferhallen.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
